DATA_ROOT=../Data
PROJECT_CONFIG=./config/project_config.yaml
MODEL_CONFIG=./config/model_config.yaml
EXTERNAL_SOURCES_CONFIG=./config/external_sources.yaml
MODEL_API_KEY=
MODEL_BASE_URL=http://localhost:8001/v1
MODEL_NAME=qwen3-32b-instruct
